.dwmd-preview-title {
  width: 100%;
  background-color: #0074a2;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding: 3px 5px;
  box-sizing: border-box;
  font-weight: bold;
}

.dwmd-preview {
  border: 2px solid #0074a2;
  padding: 3px;
  margin: 0;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  height: 250px;
}